:root {
  --blue-50: #0a84ff;

  --grey-10: #f9f9fa;
  --grey-10-a10: rgba(249, 249, 250, 0.1);
  --grey-10-a20: rgba(249, 249, 250, 0.2);
  --grey-10-a40: rgba(249, 249, 250, 0.4);
  --grey-10-a60: rgba(249, 249, 250, 0.6);
  --grey-10-a80: rgba(249, 249, 250, 0.8);
  --grey-20: #ededf0;
  --grey-30: #d7d7db;
  --grey-40: #b1b1b3;
  --grey-50: #737373;
  --grey-60: #4a4a4f;
  --grey-70: #38383d;
  --grey-80: #2a2a2e;
  --grey-90: #0c0c0d;
  --grey-90-a05: rgba(12, 12, 13, 0.05);
  --grey-90-a10: rgba(12, 12, 13, 0.1);
  --grey-90-a20: rgba(12, 12, 13, 0.2);
  --grey-90-a30: rgba(12, 12, 13, 0.3);
  --grey-90-a40: rgba(12, 12, 13, 0.4);
  --grey-90-a50: rgba(12, 12, 13, 0.5);
  --grey-90-a60: rgba(12, 12, 13, 0.6);
  --grey-90-a70: rgba(12, 12, 13, 0.7);
  --grey-90-a80: rgba(12, 12, 13, 0.8);
  --grey-90-a90: rgba(12, 12, 13, 0.9);

  --button-bg-color: var(--grey-10-a10);
  --button-fg-color: var(--grey-10);

  --page-bg-color: var(--grey-80);
  --page-fg-color: var(--grey-10);

  --tab-separator: var(--grey-90);
}

@media (prefers-color-scheme: light) {
  :root {
    --button-bg-color: var(--grey-90-a10);
    --button-fg-color: var(--grey-90);

    --page-bg-color: var(--grey-10);
    --page-fg-color: var(--grey-90);

    --tab-separator: var(--grey-30);
  }
}

body {
  background-color: var(--page-bg-color);
  color: var(--page-fg-color);
  margin: 0;
}

#menu {
  margin: 8px;
}

#menu button {
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 2px;
  color: var(--button-fg-color);
  height: 32px;
  padding: 0 8px;
}

.newtab {
  width: 100%;
}

#tab-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tab-item {
  border-bottom: solid 1px var(--tab-separator);
  line-height: 2em;
  padding: 8px;
}

.tab-item:first-child {
  border-top: solid 1px var(--tab-separator);
}

.tab-item button {
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 2px;
  color: var(--button-fg-color);
  float: right;
  height: 32px;
  padding: 0 8px;
}
